{% extends 'base.html' %}

{% block hero %}
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-lg-4"></div>
            <div class="col col-md-12 col-lg-4">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputName" class="form-label">Enter Name</label>
                      <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" required>
                      </div>    
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                <div  class="text-center"><a href="/login">Already User?</a></div>
            </div>
            <div class="col col-md-12 col-lg-4"></div>
        </div>
    </div>
{% endblock hero %}
    